body {
	font: 14px Arial, sans-serif;
}

.inner-content {
	top: 2%;
	bottom: 2%;
	left: 2%;
	right: 2%;
	background-color: white;
	border-radius: 2%;
	position: absolute;
}

#left-content {
	top: 3%;
	bottom: 3%;
	left: 2%;
	background-color: rgba(240,240,240,0.9);
	height: 94%;
	float: left;
	position: relative;
	border-radius: 2%;
	max-height: 100%;
    	max-width: 39%;
}

#right-content {
	top: 3%;
	bottom: 3%;
	right: 2%;
	background-color: rgba(240,240,240,0.9);
	height: 94%;
	float: right;
	position: relative;
	border-radius: 2%;
	max-height: 100%;
    	max-width: 55%;
}

.clock {
	font-size: 7vw;
}

.companyLogo {
	width: 50%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.buttonImage {
	padding-bottom: 5%;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mailImage {
	display: block;
	width: 30px;
	margin-right: auto;
	margin-left: auto;
}

.leftButton {
	position: absolute;
	bottom: 3%;
	left: 8%;
	font-size: 16px;
	width: 30%;
	text-align: center;
}

.rightButton {
	position: absolute;
	bottom: 3%;
	right: 8%;
	font-size: 16px;
	width: 30%;
	text-align: center;
}

.saveButton {
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	width: 97px;
	text-align: center;
}

#mailTable {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

#mailTable td {
	padding: 10px;
}

input[type=text] {
	width: 45%;
}
